{% extends "../base.html" %}

<title>Accounts List</title>
{% block content %}
    <main>
        <h1>Reg Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            {% for accounts in account_list %}
                <tbody>
                    <tr>
                        <td>{{ accounts.name }}</td>
                        <td>{{ accounts.number }}</td>
                        <td>{{ accounts.receipts.all }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </main>
{% endblock content %}
