{% extends "../base.html" %}

<title>Document</title>
{% block content %}
    <main>
        <h1>My Expenses</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            {% for category in expensecategory_list %}
                <tbody>
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipts.all|length }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </main>
{% endblock content %}
